$barlow: 'barlowregular';
$barlow-sb: 'barlowsemibold';
$barlow-sbi: 'barlowsemibold_italic';
$barlow-m: 'barlowmedium';
$barlow-bl: 'barlowblack';
$barlowb-li: 'barlowblack_italic';
$barlow-b: 'barlowbold';
$barlow-bi: 'barlowbold_italic';
$barlow-eb: 'barlowextrabold';
$barlow-ebi: 'barlowextrabold_italic';
$barlow-el: 'barlowextralight';
$barlow-eli: 'barlowextralight_italic';
$barlow-i: 'barlowitalic';
$barlow-l: 'barlowlight';
$barlow-li: 'barlowlight_italic';
